[2015-02-10 19:37] ieldib opened #3 "No way of converting local files to xml"
How can we do this locally ? It looks like this depends heavily on urllib which errors out when you try and do this locally. Any advice ?

[2015-02-11 02:34] vinitkumar commented on #3
Well,  I never thought of adding support for converting local files. But since now it has come up, I think it is a good idea to integrate this feature to make it more useful. I will probably spend sometime in the couple of days to implement this feature. If you are in a hurry, override this method to read from local json files and you should be good to go.

[code]

[2015-02-13 15:50] vinitkumar commented on #3
@ieldib The latest master has the feature to convert both local and files from URL. Closing this issue for now. Please reopen if you face any problem.

[2015-02-13 15:50] #3 closed

[2015-02-26 11:07] yfried-redhat opened #5 "Installation fails"
trying to install:
$ pip install -U json2xml
Collecting json2xml
  Downloading json2xml-1.0.0.tar.gz
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/tmp/pip-build-92CsKj/json2xml/setup.py", line 17, in <module>
        'requirements.txt')).read().split(),
    IOError: [Errno 2] No such file or directory: '/tmp/pip-build-92CsKj/json2xml/requirements.t

[2015-02-26 12:38] vinitkumar commented on #5
I can confirm the bug. Will release a fix tonight.

[2015-09-05 01:47] pdurusau opened #7 "Typo in import statement?"
The import statement now reads:

from src.json2xml import Json2xml

After installing, I had to change to:

from json2xml.json2xml import Json2xml

In order for the script to work. Can you confirm?

[2015-09-05 05:23] vinitkumar commented on #7
@pdurusau Yes. There is a typo in readme. Thanks for notifying. I will do a fix asap. You can also send me a pull request.

[2015-09-28 06:42] vinitkumar commented on #5
This is fixed. Use the latest pypi release.

[2015-09-28 06:42] #5 closed

[2015-09-28 06:45] vinitkumar commented on #7
This is fixed in latest master.

[2015-09-28 06:45] #7 closed

[2016-03-28 00:11] jayvdb opened #8 "Python 3 support"
[code]

[2016-03-28 05:29] vinitkumar commented on #8
@jayvdb Thanks for reporting the issue. I will try and release py3 compatible release soon.

[2016-03-28 19:36] #8 closed

[2016-03-28 19:43] vinitkumar commented on #8
@jayvdb Python3 support is there. Feel free to test and let me know how it goes. :dancers:

[2016-10-03 04:45] ryosa opened #13 "Installed but doesn't work."
What's wrong?

[2016-10-03 06:16] vinitkumar commented on #13
@ryosa Will and reproduce and let you know. Are you testing on Python3.

[2016-10-03 06:37] ryosa commented on #13
@vinitkumar Thanks. I'm using Python2 on CentOS 7.2.

[root ~]# ls -ls /usr/lib/python2.7/site-packages/json2xml
4 -rw-r--r-- 1 root root   18  9月 30 14:21 __init__.py
4 -rw-r--r-- 1 root root  171  9月 30 14:21 __init__.pyc
4 -rw-r--r-- 1 root root 1640  9月 30 14:21 json2xml.py
4 -rw-r--r-- 1 root root 1592  9月 30 14:21 json2xml.pyc

[2017-01-17 17:03] vinitkumar commented on #13
Fixed in the latest master.

[2017-01-17 17:03] #13 closed

[2017-03-29 13:00] patsevanton opened #17 "ImportError: No module named 'src'"
user@amd-e-450:~$ python3 -V
Python 3.5.2
user@amd-e-450:~$ pip3 install json2xml
Collecting json2xml
  Downloading json2xml-1.1.0.tar.gz
Collecting BeautifulSoup4==4.4.1 (from json2xml)
  Downloading beautifulsoup4-4.4.1-py3-none-any.whl (81kB)
    100% |████████████████████████████████| 81kB 410kB/s
Collecting dict2xml==1.3 (from json2xml)
  Downloading dict2xml-1.3.tar.gz
Collecting simplejson=

[2017-03-29 17:39] vinitkumar commented on #17
Ah, the issue is with pypi, the older version was uploaded, hence you got the error. I just released the latest 1.2.2 version. Please update the code using

[code]

And all the examples would just work.

[2017-03-30 12:05] vinitkumar commented on #17
@patsevanton Let me know if it works for you now.

[2017-03-30 15:56] patsevanton commented on #17
@vinitkumar How check version after
pip install --upgrade json2xml
?

[2017-03-30 17:20] vinitkumar commented on #17
You can do `pip freeze`. It will show you the version of all the packages installed.

Also, you can run `pip freeze | grep 'json2xml`. It will give output like this.

[code]

[2017-03-31 03:38] patsevanton commented on #17
[vagrant@vpn ~]$ pip install --upgrade json2xml
Requirement already up-to-date: json2xml in /usr/lib/python2.7/site-packages
Requirement already up-to-date: BeautifulSoup4==4.4.1 in /usr/lib64/python2.7/site-packages (from json2xml)
Requirement already up-to-date: dict2xml==1.3 in /usr/lib/python2.7/site-packages (from json2xml)
Requirement already up-to-date: simplejson==3.6.5 in /usr/lib/python2

[2017-03-31 05:40] vinitkumar commented on #17
Okay, Looks like some issue with pypi. For now, use this:

[code]

[2017-03-31 05:47] vinitkumar commented on #17
Or you can just clone the project and run `python setup.py install`

[2017-04-02 13:48] vinitkumar commented on #17
@patsevanton Does it work for you now?

[2017-04-02 14:21] patsevanton commented on #17
I dont check. Thanks.

[2017-05-15 20:30] dell25 opened #19 "SyntaxError: invalid syntax"
After running the code like

I'm getting the next error, but it exports the file. I think that the file is complete. I'm posting this just to be sure.

`Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/us

[2017-05-16 04:14] vinitkumar commented on #19
Hi, it looks like you are using Python2. In the code, I have used "Type Annotation", It is only Python3 at the moment. Could you please try it again in Python3. It should just work then.

[2017-07-11 21:04] llitz opened #20 "Case sensitivity is not kept during conversion"
Converting json files to xml files loses case sensitivity. This can be perceived as not only doing a transformation but actually modifying the content.

[2017-07-11 21:27] llitz commented on #20
Is there any reason to use BeautifulSoap? I tested a quick program only using dict2xml and the case was not changed.

[2017-07-11 21:31] llitz opened #21 "json with multiple records generates invalid XML"
A json file with multiple entries is creating an invalid file:

{"records":[{"val1": "test","val2":"test"},{"val1": "test2","val2":"test2"}]}

It creates two records tag not belonging to any other tag.

When printing straight from dict2xml, it is possible to use the flag "wrap=all" to handle cases like this (You can also pass an argument to prettify and get rid of Beautifulsoap)

[2017-07-12 02:55] vinitkumar commented on #21
@llitz Thanks for pointing out the bug. There are test cases in the code, could you please contribute a failing test for this?

[2017-07-12 02:57] vinitkumar commented on #20
@llitz I was not aware of this bug. Thanks for finding out the bug. Also, I use Beautifulsoup as it was very easy to work with it. It would be awesome if you could contribute a failing test case with this issue as well. I would pick this issue up. Thanks!

[2017-11-09 14:50] George-D-S opened #22 "json from string"
Would you be able to add a method to get the json from a string rather than a file path or URL please?

[2017-11-10 05:03] vinitkumar commented on #22
Hi @George-D-S I think I would be able to do that. Will update on this ticket once I am done.

[2017-11-10 07:23] #22 closed

[2017-11-10 07:24] vinitkumar commented on #22
Hi @George-D-S . Good news. I have implemented this feature. Please check the docs here.

[2017-11-12 00:15] gismcieri opened #24 "64bit Package"
Hi is json2xml only a 32bit package or is a 64bit package available

[2017-11-12 05:31] vinitkumar commented on #24
Hi @gismcieri If you are windows you can easily build a 32 or 64 bit package using this:

https://docs.python.org/2/distutils/builtdist.html#cross-compiling-on-windows

[2017-11-13 15:06] gismcieri commented on #24
Thank you.

I will give that a try soon.  I just set up a 32bit python 3.6 in Anaconda for testing.

Matt

[2017-11-13 15:15] gismcieri opened #25 "writing to XML file"
Hi,

I am pretty close to using your tool to do what I need.  The last issue I am having is I can't get the final out put to export to and XML File.  I see the result in the output window but it won't save to file and the code just seems to end after running data = Json2xml.fromurl(result).data. Nothing happens after I get here 2.

[code]

Do you have any thoughts I have included my code? The goal

[2017-11-13 16:43] vinitkumar commented on #25
Hi @gismcieri, took the liberty of refactoring your code. Please take a look below:

I used requests because it is pretty simple and standard to use it for doing HTTP requests than using urllib.
Also, if you will notice, I used `Json2xml.fromstring` instead of `Json2xml.fromurl` as I already got the response in String. `fromurl` is used when you are using Json2xml to directly `GET` the URL and con

[2017-11-13 16:45] vinitkumar commented on #25
temp.json

[code]

result.xml
[code]

[2017-11-13 17:54] gismcieri commented on #25
Awesome thanks for your time.  I do a decent amount of programming but there is always little tricks when using a new library.  I have never used with with open before I will have to check out the reason for that.  I have seen it in some places but not others.  Also I did close my files in the original it was just at the end.

Thanks so much love the library.

[2017-11-13 18:17] vinitkumar commented on #25
@gismcieri I am glad I was able to fix. Also, I pushing another version of the library in sometime, that has some bugfixes and better output. I would suggest you try that one out too.

[2017-11-13 18:18] #21 closed

[2017-11-13 18:23] vinitkumar commented on #20
This is fixed with the latest release too:

For e.g:

[code]

[code]

[2017-11-13 18:23] vinitkumar commented on #20
This one is fixed in the latest release too:

[code]

[code]

[2017-11-13 18:23] #20 closed

[2017-11-13 18:25] vinitkumar commented on #19
Only python3 is supported, please try with the latest Python3 and it should just work.

[2017-11-13 18:25] #19 closed

[2017-11-13 18:26] #17 closed

[2017-11-13 18:34] vinitkumar commented on #25
@gismcieri Closing the ticket as it seems like your issue is solved, if you have any other issue/question don't hesitate to open another ticket.

[2017-11-13 18:34] #25 closed

[2017-11-13 18:34] #24 closed

[2018-01-11 16:30] FergusClare opened #28 "Pip3 Error for python3.5"
I get the following error after I attempt to pip3 install json2xml

pip3 install json2xml
Collecting json2xml
  Using cached json2xml-2.2.0.tar.gz
Requirement already satisfied: dict2xml==1.5 in /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages (from json2xml)
Collecting six==1.11.0 (from json2xml)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting requests==2.18

[2018-01-11 17:39] vinitkumar commented on #28
Hi, I think the issue is with your installation of `six`, This is from your log.

Could you try installing it in a virtualenv and report again?

[code]

[2018-01-11 17:42] vinitkumar commented on #28
@FergusClare I also tried installing it on Python3.4.x on an Ubuntu server & it installed fine. Looks pretty much the reason pointed above is the cause.

[2018-02-04 21:28] C-Kenny commented on #28
Trying to run json2xml on Python 3.6.4

pip3 successfully installs json2xml and I can see the module when running `pip freeze`, json2xml==2.2.0.

However when trying to import I get
" >>> import json2xml
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'json2xml'"

[2018-02-05 05:42] vinitkumar commented on #28
@C-Kenny Yes, you are right. The import must be done `from src.json2xml

[2018-05-30 06:37] ts-kazuo-ieiri opened #29 "how to remove <all></all> tag"
how to remove \<all\>\</all\>  tag?

[2018-05-30 06:51] vinitkumar commented on #29
Hi @ts-kazuo-ieiri, I think `all` come from this line of the code.
https://github.com/vinitkumar/json2xml/blob/master/src/json2xml.py#L83

You can remove `all` from wrap and check, it should just work.

[code]

I think it would just work. Let me know if it doesn't

[2018-05-30 07:05] ts-kazuo-ieiri commented on #29
Hi @vinitkumar , you are right. it removes all the \<all\>\</all\> tag as you said.

[code]
Thank you!

[2018-05-30 07:12] ts-kazuo-ieiri opened #30 "remove parameters from end tag"
if a tag has parameter like below end tag also has the prameter and tag name and parameter is merged by underscore.

**json**
`'methodName version="1.0"' : 'XXXXXXXXXXXXXXXXXXXXXXX'`

**xml**
`<methodName_version_"1.0">XXXXXXXXXXXXXXXXXXXXXXX</methodName_version_1.0>
`

how can it be like this?
**xml**
`<methodName version="1.0">XXXXXXXXXXXXXXXXXXXXXXX</methodName>`

[2018-05-30 07:21] vinitkumar commented on #30
Could you post a JSON that you are trying to convert to XML. It could help me debug this. Honestly, I never came across this issue before so I might have to look into it.

[2018-05-30 07:35] vinitkumar commented on #30
@ts-kazuo-ieiri It doesn't look like a json object but a dict, I had to clean it up and use json.dumps(dict_object) to get something like this:

[code]

Also, I had to clean this by hand after doing json.dumps for this object.

`"methodName version=\\"1.0\\"": "XXXXXXXXXXXXXXXXXXXXXXX",`

[2018-05-30 08:03] ts-kazuo-ieiri commented on #30
@vinitkumar I checked that after executed json.dumps(dict_object), the json data can be set like this.
`req = requests.post(url, data=json_data)`
I don't have problem with end tag and parameter has been set correctly.

Thank you!

[2018-05-30 09:47] vinitkumar commented on #30
@ts-kazuo-ieiri Okay, if you think your issue has been resolved then please close the ticket.

[2018-05-30 20:59] #29 closed

[2018-05-30 21:00] #30 closed

[2018-05-31 00:08] ts-kazuo-ieiri commented on #30
@vinitkumar Yes this issue has been fixed. thank you so much.

[2018-05-31 10:12] hemanthprodduturi opened #31 "Failed building wheel for json2xml"
pip3 install json2xml

Collecting json2xml
  Downloading https://files.pythonhosted.org/packages/45/a6/65509927c74eff40f001e7ab3e830849545cc8f41cc6111f1bc11c282391/json2xml-2.2.0.tar.gz
Collecting dict2xml==1.5 (from json2xml)
  Downloading https://files.pythonhosted.org/packages/7e/c7/728fe5b79783b2c44af4381820dd6cbfddf7ee2a27b79023b623fe189357/dict2xml-1.5.tar.gz
Requirement already satisfied: s

[2018-05-31 11:17] vinitkumar commented on #31
Hi @hemanthprodduturi, Looks like the issue is with your setuptools module
that comes with your anaconda installation and is also evident from the error

[code]
Do this and try to run the command to install json2xml again and it should just work.

For reference, you can also see the similar crash reported in this Github issue. https://github.com/cuemacro/findatapy/issues/17

[2018-06-05 04:14] vinitkumar commented on #31
Closing this issue as no response from the poster.

[2018-06-05 04:14] #31 closed

[2018-06-14 06:08] #28 closed

[2018-09-20 12:20] ikwijaya opened #32 "BaseExecption"
am new in python dev, and i have a problem when converting data from Json

here my error :
**exceptions must derive from BaseException**

[2018-09-20 14:50] vinitkumar commented on #32
No problem. Could you tell me the actions that resulted in this exception and which version of Python are you using.

[2018-09-21 02:23] #32 closed, assigned to nobody

[2018-10-12 02:41] shenhongcai opened #33 "how to save the xml(type:str) into a .xml file"

[2018-10-12 05:32] vinitkumar commented on #33
Hi @shenhongcai. Please correct me if I am wrong, but you want to save the XML output to a xml file.

For this as per the example, try and do something like this:

`python -m src.cli --file="examples/example.json" > example.xml`

Now, the output would be saved in example.xml file. Let me know if this solves your issue.

[2018-10-12 07:19] lpengxue commented on #33
@vinitkumar The output would be saved in example.xml file. You are right.

[2018-12-10 18:08] #33 closed

[2019-01-12 15:41] leslyarun opened #34 "Automatically add id's to xml node for nested JSON arrays"
When adding a nested JSON array, automatically add id's to xml nodes

Example JSON file:
[code]
When converting it should automatically add id's to the nodes like below for every json array element:
[code]

Here, it automatically added row id=1 row id=2 for the 2 elements which was present in the JSON array.
Can we have a similar feature to add a auto-incrementing xml node for every element presen

[2019-01-18 16:00] vinitkumar commented on #34
@leslyarun Do you an example of the spec or some other library that does this? Or this is something very specific to how you want it?

[2019-01-18 16:31] leslyarun commented on #34
@vinitkumar This website does that - https://onlinexmltools.com/convert-json-to-xml
If we can implement like the same, it would be great.

[2019-01-18 17:26] vinitkumar commented on #34
@leslyarun Alright. I see the website. Looks like it is using JS to convert it to XML on the fly. I will have to look into the website's JS and probably see if it can be ported to this implementation. In theory, it does looks possible. But I will once again confirm the spec and see if that' the correct way to do it. I can't promise anything at the moment but looks like a fun thing to hack on. I wi

[2019-01-28 14:39] abgrac opened #36 "Custom wrapper not working on 2.2.1"
I can't seem to make the custom Json2xml(data, WRAPPER, INDENT) to work. Keeps returning "unexpected keyword argument 'wrapper'".
Also did not found any implementation of it on the json2xml.py src code.

 - OS: Windows 7 x64

[2019-01-29 13:01] vinitkumar commented on #36
Any updates? @abgrac

[2019-02-22 09:49] angelo-di-marzio commented on #36
Hello, I have the same issue. TypeError: __init__() got an unexpected keyword argument 'wrapper'
I can't manage to make it work. I've followed your instructions on [use wrapper and indent](https://github.com/vinitkumar/json2xml#custom-wrapper-and-indent-size)
I'm on json2xml version 2.2.1
I'm here if you need more informations

[2019-02-22 10:02] vinitkumar commented on #36
@angelo-di-marzio Could you please share these things:

- Python Version
- Full crash log?
- How can I reproduce the bug? Share the code that you used?
- Did you install the json2xml from `pip` or did you clone the repo?

[2019-02-22 10:28] vinitkumar commented on #36
@angelo-di-marzio Alright, I am able to reproduce the bug now.

[2019-02-22 11:18] angelo-di-marzio commented on #36
I installed it from pip. I'm using Python 3.7.
The full log is "TypeError: __init__() got an unexpected keyword argument 'wrapper'"

`annotation_list = version["annotation_list"]
        data = Json2xml.fromstring(json.dumps(annotation_list)).data
        data_object = Json2xml(data, wrapper="custom", indent=4)
        annotations_xml=data_object.json2xml()
        file = open(path, "w+")

[2019-02-22 11:33] vinitkumar opened #39 "Use cookiecutter to generate better folder structure and integrations"
https://github.com/audreyr/cookiecutter-pypackage

- [x] Write tests for all the methods

- [x] Write tests for the actual xml conversion

- [x] Provide docs in the readthedocs

- [x] Release to pypi

[2019-02-25 20:23] #39 closed

[2019-02-25 20:27] vinitkumar commented on #36
Hi @abgrac & @angelo-di-marzio

Thanks for reporting this bug. The bug wasn't in the code but in the pypi released code that was outdated and didn't had the `wrapper` in the constructor.

Well, I have a good news. I did a major refactor & cleaned up the code. This is also a breaking change and you will need to update the code sample using this library. Please look at the readme https://github.com/

[2019-02-26 10:41] vinitkumar commented on #36
@abgrac @angelo-di-marzio Closing this as the issue is fixed. Please update the plugin and follow the docs and it should just work for you.

[2019-02-26 10:41] #36 closed

[2019-03-10 17:01] vinitkumar commented on #34
@leslyarun I do not seem to have time to implement this feature now. Though this seems interesting. Please feel free to send a PR for this if you are inclined. I do not want to make any false promises.

[2019-04-18 01:32] abgrac opened #44 "Output "<class 'dict'>" after every readfromjson()"
Hi!

I don't know if this is a real issue, but from version 2.2.1 to 3.0.0, after every readfromjson() call, the console prints "<class 'dict'>" (assuming type(returnVar));

The line below represents my code:
jData = readfromjson("\\\\localhost\\POS_JOGO\\AutoUpdaterBRAsB.json")

[2019-04-18 05:58] #44 closed

[2019-04-18 06:02] vinitkumar commented on #44
@abgrac Thanks for reporting this issue.

Well, it is not really a issue but there was a leftover print statement while debugging and it's job was to just print the type of the data type which was `<class 'dict'>`. I removed that and pushed a new release under v3.0.1 for this. Please upgrade from the pypi and that should be gone.

Also, please refer to the doc in the readme about the usage. https:

[2019-08-09 08:07] de0xyrib0se opened #45 "Attribute support"
Is there any attribute support? XML almost always contains them.

[2019-09-25 15:41] userlerueda opened #46 "json2xml should support adding namespaces"
**Is your feature request related to a problem? Please describe.**
Today json2xml does not allow you to read the namespaces as created from xml2dict

**Describe the solution you'd like**
I would like to see namespaces also part of xml tags

**Describe alternatives you've considered**
Adding namespaces manually

**Additional context**
https://pypi.org/project/xmltodict/

[2019-10-10 17:46] vinitkumar commented on #46
@userlerueda Thanks for reporting this issue. This looks like a bit difficult to implement at this moment because the underlying library (dict2xml) doesn't support it. The library you suggest does the reverse of what this library does(instead of dict2xml, it does xml2dict. Also, that library is much better maintained and feature-rich. Let me see if there is a good solution for this.

[2019-10-10 17:52] vinitkumar commented on #45
@de0xyrib0se Thanks for reporting this issue. It looks like using something like https://github.com/quandyfactory/dicttoxml Would be a better choice. It is more feature reach and supports attribute and other features as well. I will implement it once I find the time.

[2019-10-10 20:14] vinitkumar commented on #45
@de0xyrib0se Good news, the feature is completed. Check out this branch and let me know if you like it? https://github.com/vinitkumar/json2xml/pull/47

[2019-10-10 20:19] vinitkumar commented on #34
The latest work done for  #45 makes it much better. Here is the output for your json file:

[code]

[2019-10-10 20:26] #45 closed

[2019-10-10 20:26] #34 closed

[2019-11-11 09:47] CG-ADAMS opened #49 "Getting an error while using pretty keyword"
hi,

i am receiving an error "TypeError: __init__() got an unexpected keyword argument 'pretty'"

Details below:

[code]

I am using python 3.7.0.

[2019-11-14 12:38] vinitkumar commented on #49
@CG-ADAMS Sorry for the late reply. I think you might have an old version of the library installed.
Could you please try doing this:

`pip3 install --upgrade json2xml` and share the output of `pip3 freeze | grep 'json2xml`.

Upgrading the library using `pip3 install --upgrade json2xml` should already fix your problems and for some reason, if it doesn't please don't hesitate to ask here.

[2019-11-15 09:12] CG-ADAMS commented on #49
Hi Vinit,

Thanks for the response.

I tried running upgrade command and this is the output. Nothing has been updated. Issue still exists.

C:\Downloads\TestScripts>python -m pip install --upgrade json2xml
Requirement already up-to-date: json2xml in c:\users\vpothuga\appdata\local\continuum\anaconda3\lib\site-packages (3.0.1)
Requirement already satisfied, skipping upgrade: six==1.11.0 in c:\users

[2019-11-15 09:43] vinitkumar commented on #49
@CG-ADAMS Alright. I think the issue is this. If you look at the output, you have version `3.0.1` installed. But the latest version is `3.1.0`. You can check this out in the package page on PyPI (https://pypi.org/project/json2xml/)

Now, to solve it, do this:

[code]
The last line make sure you will have the latest version installed and the latest documentation and code will just work for you.

[2019-11-15 10:38] CG-ADAMS commented on #49
Hi Vinit,

Followed these steps, however I am receiving this error:

C:\Users\vpothuga\Downloads\TestScripts>pip --no-cache-dir install json2xml==3.1.0
Collecting json2xml==3.1.0
  ERROR: Could not find a version that satisfies the requirement json2xml==3.1.0 (from versions: 0.1, 0.2, 0.5, 0.6, 1.0.0, 1.0.1, 1.1.0, 1.2.4, 1.2.5, 1.3.0, 2.0.0, 2.1.0, 2.1.1, 2.2.0, 2.2.1, 3.0.0, 3.0.1)
ERROR: No mat

[2019-11-15 10:48] vinitkumar commented on #49
Alright. Looks like there was an issue with the latest release on the PyPI for `3.1.0`

Use this to install the latest:

[code]
It should work flawlessly now and if it doesn't let me know. Please make sure you are testing it on Python3.

[2019-11-15 11:27] CG-ADAMS commented on #49
Hi Vinit,

This is not working as pip on my machine is looking for the package at https://files.pythonhosted.org/packages

Is there a way to pull the latest one from github or your website and install it?

Thanks,
Vamsi

[2019-11-15 11:36] vinitkumar commented on #49
@CG-ADAMS Vamsi, it should have worked:

If not:

[code]

[2019-11-15 12:52] CG-ADAMS commented on #49
Thanks a lot. This has worked now..

[2019-12-18 09:35] willthrom commented on #49
Same issue here. upgrade didn't work. I don't think this issue should be closed.
isn't any in the repository should be resolved?

Thanks for the support!!

[2019-12-18 17:23] vinitkumar commented on #49
@willthrom Thanks for the update. Could you please report what version you are at now? Also, please check the comments above and see if that helps.

[2019-12-27 10:51] vinitkumar commented on #49
Closing this issue due to inactivity.

[2019-12-27 10:51] #49 closed

[2020-02-05 08:13] MrBenGriffin commented on #46
I would second adding a custom namespace to json2xml. We would really appreciate it.

[2020-02-05 09:35] sinjihn opened #51 "pip installed version of json2xml doesn't include to_xml() nor Json2xml class"
[code]

Looks like the version of json2xml that gets installed via pip is an older version or missing something?

[2020-02-05 13:53] vinitkumar commented on #51
@sinjihn You are right. there seems to be some issues with the version uploaded the the code here. I will fix it tonight. Thanks for reporting.

[2020-02-05 17:24] vinitkumar commented on #51
@sinjihn Once again thanks for reporting this issue. I faced this issue before and fixed it once but seems like it was not fixed properly. I have released a proper version on pypi and have also updated the docs accordingly. I hope it works perfectly for you this time. Please check https://pypi.python.org/pypi/json2xml

Using `pip install json2xml --upgrade --no-cache` should get you the latest and

[2020-02-07 02:25] sinjihn commented on #51
@vinitkumar thanks for addressing the issue! I can confirm it works properly now. I would suggest, however, making it slightly more intuitive when just doing `import json2xml` such that the utils / the class is accessible that way too.

[2020-02-07 02:25] #51 closed

[2020-02-26 20:47] fwbam opened #52 "Usage example syntax issue"
**Describe the bug**
On https://pypi.org/project/json2xml/ The usage example has an error in it. Second from should be import.

`...
from json2xml.utils from readfromurl, readfromstring, readfromjson
...`
should be
`
...
from json2xml.utils import readfromurl, readfromstring, readfromjson
...`

[2020-03-27 13:33] Cabewill opened #53 "Bad Json format"
**Describe the bug**
When trying to read from a json file, that contains a bad json format the library craches the python program

**To Reproduce**
Steps to reproduce the behavior:
1. Try to import a bad json file
2. Use json2xml.utils readfromjson

**Expected behavior**
I expected that the library raise an exception to be handled in my the python module

[2020-03-28 18:13] vinitkumar commented on #53
@Cabewill Please add the bad json file in this issue. I will look into it.

[2020-03-28 23:31] Cabewill commented on #53
I will close this issue.
In the function readfromjson you use
` except IOError as exp:`
`        print(exp)`
 `       sys.exit(exp)`

So I don't receive a exception that could be caught with the
`except Exception as e:`
I thought you were handling in the wrong way, but I discover that if I use only
`except` I can get this exception.
In my opinion you are not using the best way, it would be better

[2020-03-28 23:31] #53 closed

[2020-04-16 21:14] bhavesh95863 opened #54 "Attr Type Remove"
Hello
I  tried to convert JSON into XML and it's work fine but it comes with type="str". is there any way to ignore this attribute?

[2020-04-23 15:55] Marx1st commented on #52
Thanks! You're a lifesaver! :)

[2020-05-29 17:15] ncavedale opened #55 "wrapper=None?"
When I use the 'wrapper' argument with a 'None' value, it still prints a root element:

[code]

It's treating 'None' and even 'False' and 'True' as strings. Not sure if this is intentional.
Looks like a bug to me, but in any case a way to prevent creating a root element would be appreciated.
I normally use this to test for XML parsers (XML injection) on APIs by changing the json request to xml for

[2020-05-29 17:57] vinitkumar commented on #55
Thanks for this report. I will look into it and probably push a release soon.

[2020-05-30 14:22] vinitkumar commented on #55
Hi @ncavedale. I just looked into this and the problem is that the internal library that I am calling to convert `json` to `xml`, it has a default value for wrapper set as `root`, so even if I do some changes at my end. You will still get it wrapped by `<root>`. I will keep this issue open and will probably do the change if more people want it.

[2020-05-30 14:24] vinitkumar commented on #54
Hi, @bhavesh95863 Sorry for the late reply. Sadly there is no such way to ignore the type attribute for now.

[2020-05-30 14:49] vinitkumar commented on #52
cc @fwbam @Marx1st Sorry for the trouble Fixed it in the latest release.

https://github.com/vinitkumar/json2xml/releases/tag/v3.3.3
https://pypi.org/project/json2xml/3.3.3/

Please upgrade and it should be fixed there.

[2020-05-30 14:49] #52 closed

[2020-06-10 02:36] #54 closed

[2020-06-10 07:32] vinitkumar commented on #54
@bhavesh95863 Please update to the latest version of json2xml. We have the facility to disable types from showing up on the XML.

[2020-07-12 13:11] WolfgangFahl opened #59 "TypeError: 'bool' object does not support item assignment"
**Describe the bug**
[code]

**To Reproduce**

[code]

**Expected behavior**
should not fail

**Desktop (please complete the following information):**
 - OS: MacOS 10.13.6

[2020-07-13 06:11] vinitkumar commented on #59
Hi @WolfgangFahl. Thanks for reporting this issue. I just tried to reproduce this issue. Looks like your code is either using an old version of the documentation.

First of all, make sure you are using a more recent version of json2xml. The latest one now is `json2xml (3.4.1)  - Simple Python Library to convert JSON to XML`

So either install it directly like this: `pip install json2xml==3.4.1` or

[2020-07-13 10:07] WolfgangFahl commented on #59
Thx. I also fixed the problem with the upstream dict2xml library which was the initial culprit of the error message.
See
http://ptp.bitplan.com/parse?titles=EuroPar+2020&examples=example1&format=xml

[2020-07-13 10:07] #59 closed

[2020-07-13 11:27] vinitkumar commented on #59
Nice. I am glad it worked out for you and I hope this small little library
gives you some joy.

On Mon, 13 Jul 2020 at 15:37, Wolfgang Fahl <notifications@github.com>
wrote:

--
<https://about.me/vinitkme?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Vinit Kumar
about.me/vinitkme
<https://about.me/vinitkme?promo=email_sig&utm_source=product&utm_m

[2020-08-22 02:22] fmigneault opened #60 "Adjust six requirement"
Is there any possibility to loosen `six` requirement (or even remove it)?
It doesn't look like it is even used anymore, and it greatly conflicts with other packages that require different versions.

[2020-08-24 15:58] #60 closed

[2020-08-24 16:12] vinitkumar commented on #60
hi @fmigneault, I did the changes and released to PyPI: https://github.com/vinitkumar/json2xml/releases/tag/v3.5.0

[2020-08-28 13:50] ankur0101 commented on #46
using `wrapper="data:insights"` throws an error

[2020-08-28 17:47] vinitkumar commented on #46
@ankur0101 Please attach the crash logs as well.

[2020-09-04 17:37] kitssqrd opened #62 "Latin characters not being displayed properly."
**Describe the bug**
Whenever I try to convert a JSON that contains latin characters (for example ç) it returns me "�" instead.

**To Reproduce**
Just trying to convert a JSON with any latin character (á, à, ç, etc.)

**Expected behavior**
I expect the output to be (for example) ç not �

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version 1909

**Additional contex

[2020-09-04 17:58] #62 closed

[2020-09-11 22:20] jimingshuo opened #63 "TypeError: 'bool' object does not support item assignment"
I see someone had reported this problem in
https://gitmemory.com/issue/vinitkumar/json2xml/59/657379816

I am using json2xml 3.5.0
C:\Programming\PycharmProjects\Monaco_Contours>pip freeze | grep json2xml
json2xml==3.5.0
(json2xml needs xmltodict-0.11.0, though I have tried both xmltodict-0.11.0 and xmltodict-0.12.0).

Still see the same issue:
  File "C:\Users\usjimat\AppData\Local\Programs\Pytho

[2020-09-12 16:45] vinitkumar commented on #63
@jimingshuo Can you please attach the JSON file or string that gives you this error? Will help me debug this much easier.

[2020-09-12 16:48] vinitkumar commented on #63
Copying the json file:

[code]

[code]

[2020-09-12 16:58] vinitkumar commented on #63
Hi @jimingshuo, I just tried to reproduce the same issue using the json string from the above git-memory link. I wrote this in a file to easily be able to test the code.

[code]

Which gives me this result:

[code]

Here is result of my pip freeze:

[code]

Python version:

[code]

Please let me know if you have a failing test case and I will be happy to debug it.

[2020-09-13 19:26] jimingshuo commented on #63
@vinitkumar,
Thanks. I recheck my code, I was trying to edit a xml file, so I read the xml file in as
[code]
but I failed to declare that "data_dict" first, thus it was not visible to json2xml.Json2xml. My bad.

Now it works.

[2020-09-14 08:47] vinitkumar commented on #63
@jimingshuo It's okay. You might have referred an old version of doc and there the API was different. I am glad it works for you now. I will close this ticket, please re-open this or create a new one if you have any issues using this library.

[2020-09-14 08:47] #63 closed

[2020-11-03 16:52] lukemat-clear opened #64 "Library ends program execution upon error instead of throwing exception"
**Describe the bug**
When the code in utils.py encounters an error it just stops the program execution instead of throwing an exception or printing an error like standard libraries do.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass an invalid or incorrectly formatted JSON file to any function in utils.py (e.g. readfromstring, readfromjson)
2. The program will stop running completely.=

[2020-11-04 07:51] vinitkumar commented on #64
@lukemat-clear Thanks for this issue. Upon thinking more on this, I think you are right, It should rather throw an exception instead of halting the program execution.

[2020-11-12 07:03] vinitkumar commented on #64
@lukemat-clear https://github.com/vinitkumar/json2xml/commit/1a0e782afa445d5287b8e686cf7eb42aa6d11458

[2020-11-12 07:08] #64 closed

[2021-03-01 09:05] gvdeepak opened #67 "Multiple nested wrappers"
**Is your feature request related to a problem? Please describe.**
I would like to convert json to xml with multiple nested wrapper
like
`<First>
  <Second>
.
.
 </Second>
</First>`

**Describe the solution you'd like**
You can provide an option like to accept "," separated values or new subwrapper1 string

**Describe alternatives you've considered**
No

**Additional context**
-

[2021-04-12 08:56] Akhi1 commented on #54
can you please let us know how to remove the type attribute? any specific function call?

[2021-04-12 09:04] Akhi1 commented on #54
yeah got it, here is a snippet for those who are looking for help
`json2xml.Json2xml(data, attr_type=False).to_xml()`

[2021-04-15 12:56] oponcea-dn opened #69 "Replace dicttoxml as it is no longer maintained. Last commit is from 2016."
**Is your feature request related to a problem? Please describe.**
Replace dicttoxml as it is no longer maintained. Last commit is from 2016.

**Describe the solution you'd like**
Any library that supports attributes as https://github.com/quandyfactory/dicttoxml/pull/66 is not merged.

**Describe alternatives you've considered**
https://github.com/mbj4668/pyang/blob/master/bin/json2xml

[2021-04-19 20:06] vinitkumar commented on #69
@oponcea-dn Thanks for filing a ticket. Let me see what I can do about it.

[2021-04-27 09:35] vinitkumar commented on #69
Hi @oponcea-dn. Are you sure you wanted to open a ticket in this repo? I am sure the development has slowed down in the dicttoxml repo, but it just works for me and removing it means writing that code myself or finding a suitable alternative (please suggest if you know any).

[2021-05-10 17:53] oponcea-dn commented on #69
Hi @vinitkumar, thanks for answering and I apologize for not updating this issue earlier. So, looking more over the code of Ansible, it is actually NOT using this library but it is calling the "json2xml" command of pyang so you can reject my suggestion.

As an alternative, if you have time, maybe you can adapt the code from pyang to the interface of this library: https://github.com/mbj4668/pyang/b

[2021-05-13 05:29] sakthigeek commented on #55
@vinitkumar  It would be helpful if the option to set wrapper to None is added when no wrapper is needed.

[2021-05-21 03:43] vinitkumar opened #72 "Support for Python3.10"
Running the test suite with Python3.10b1,resulted in these warnings:

[code]

Let's look into this and find a backward compatible way to fix these warnings.

[2021-07-03 19:17] bonosa opened #74 "ImportError: cannot import name 'json2xml'"
Hi Vinit,

I just installed the latest version with your upgrade command. My python script is saying ImportError: cannot import name 'json2xml'. What do I need to do? i googled but didn't find anything. thanks!

[2021-07-03 20:21] bonosa commented on #74
Python 3.6.8

[2021-07-03 20:26] bonosa commented on #74
from json2xml import json2xml
from json2xml.utils import readfromurl, readfromstring, readfromjson

[2021-07-03 21:53] bonosa commented on #74
the problem was my script was named json2xml.py!!

[2021-07-03 21:53] #74 closed

[2021-08-22 18:26] vinitkumar commented on #69
@oponcea-dn You were right, the code for dict2xml is old, unmaintained and messy. I have forked it, and it is in development now. You are welcome to test this branch out.

[2021-08-28 15:56] #72 closed

[2021-08-28 15:56] vinitkumar commented on #69
The forked version of the dicttoxml is mergd with the latest beta release. https://twitter.com/vinitkme/status/1380867675719540740

[2021-08-28 15:57] #69 closed

[2021-08-28 15:59] vinitkumar commented on #46
Thanks for the tip @MrBenGriffin.  A bit late response from my side, but I think I can get this implemented since I run a forked version of dicttoxml in  the project so can adapt the  changes from this. https://github.com/watzon/xmler/blob/master/xmler.py

[2021-08-28 16:38] vinitkumar commented on #46
NOTE to self: This might  take a deep-dive into both of the codebases and see how I can implement  the functionality  in a preferably non-breaking way.

[2021-08-29 08:29] MrBenGriffin commented on #46
I’m not sure if there is a good xml schema loader available - but passing an xsd over as a parameter would allow for both namespaces and also the ability to match attribute names and element names.

[2021-08-29 08:31] vinitkumar commented on #46
@MrBenGriffin Would really appreciate if you can post some example for this and how would you like the API to behave?

[2021-08-29 09:30] MrBenGriffin commented on #46
Here is an XSD to XML project - (3 files or so, not my work)
https://github.com/fortesp/xsd2xml

I’m sort of imagining that there’s a degree of coercion going on - and with an xsd there could be a fail (where the json structure doesn’t meet the xsd requirement).

I could possibly work something up but my diary is very full atm. I’m grateful for this project as is- it’s great for dealing with syste

[2021-08-29 10:06] MrBenGriffin commented on #46
https://pypi.org/project/xsdata/   This may already do everything. - Maybe worth looking at?

[2021-08-29 16:57] vinitkumar commented on #46
@MrBenGriffin Thanks, will  look into these and see what I can learn and adopt from them.

[2021-08-29 21:02] MrBenGriffin commented on #46
Hey there!  So I've got a simple roundtrip example - the earlier links I sent were not as useful as they could have been..

Here's a tiny example of how XMLSchema does it (with the two xml/xsd file examples).
In fairness, it should be possible for us to implement our requirements using xmlschema - but since we are talking about it, and you have the json2xml repo - maybe it's of value / worth imple

[2021-09-09 23:45] jgroom33 opened #77 "Omit <item>...</item> from arrays"
Assume the following json:

[code]

Current behavior:

[code]

Desired behavior:

Add attribute `item_wrap` as Boolean

[code]

[code]

[2021-09-10 18:18] #77 closed

[2021-10-06 18:42] vinitkumar opened #80 "Replace xml.dom with defusedxml"
**Describe the bug**
A clear and concise description of what the bug is.
[Security]

Scanned the package at (Snyk)[https://app.snyk.io/org/vinitkumar/project/39009c4a-8759-4a97-a0c3-dbe224fe99úú]. Seems like
replacing xml.dom usage with defusedxml is an easy and API compatible approach which we can
use to prevent a vector of attacks

[code]

[2021-10-06 20:54] #80 closed

[2021-10-19 23:42] mmabey opened #89 "Calls to `convert_*` have misaligned arguments"
**Describe the bug**
In the `convert()` function in `dicttoxml.py`, there are several calls to convert_* functions that use positional arguments that are getting sent to the wrong parameters.

For example, https://github.com/vinitkumar/json2xml/blob/451d3d30ba19816c85e1fd9e0363a186c7265a9e/json2xml/dicttoxml.py#L146
makes a call to `convert_kv()`, but the signature of that function has the `cdata`

[2021-10-20 04:51] vinitkumar commented on #89
@mmabey Thanks for reporting this issue. I am a bit swamped at work these days. Since you are already familiar with the issue, would you like to send a pull request with a test reproducing the error and the fix that resolves it?

It would be wonderful if you could do that, else I will find time to get it done this weekend.

Cheers 🎉

[2021-11-24 04:52] althaf004 opened #92 "json to xml conversion with xml namespace"
Hi, i need to convert a json data to xml. the sample code is as below.
[code]
where "ra" is the namespace. but the conversion is not exactly happening.

the result expecting is

[code]
with current version the result received is

[code]
Please suggest a way to achieve this.

Thanks

[2021-12-02 16:24] vinitkumar commented on #92
Just saw this ticket, let me look into this and let you know.

[2021-12-02 17:27] althaf004 commented on #92
hey @vinitkumar , got a work around for this don`t if its the correct way but still it worked

CREATE OR REPLACE FUNCTION public.textxmldict()
 RETURNS text
 LANGUAGE plpython3u
AS $function$
import xmltodict
from json2xml import json2xml
from json2xml.utils import readfromurl, readfromstring, readfromjson
import json

sample_json = plpy.execute("select content from items where id=1");
data = read

[2021-12-16 00:32] jgroom33 opened #93 "item_wrap for str and int"
`item_wrap=False` currently only supports list of dict

It should also support list of `str` and `int`

Input:
[code]

item_wrap=False output:
[code]

item_wrap=True output:
[code]

[2021-12-18 19:18] #93 closed

[2022-01-28 12:54] psi29a opened #99 "dicttoxml ignores the root param"
Code snippit:
[code]

Result:
[code]

What it should look like:
[code]

[2022-01-28 13:15] psi29a commented on #99
Would be nice to have this in a new stable release since it can be used as a drop-in replacement for dicttoxml once this has been resolved. :)

[2022-01-29 09:14] #99 closed

[2022-01-29 09:46] vinitkumar commented on #55
I think this is fixed by the latest released.

https://github.com/vinitkumar/json2xml/releases/tag/3.10.0

Please re-open if you still have issues.

[2022-01-29 09:46] #55 closed

[2022-01-29 09:50] vinitkumar commented on #99
@psi29a Thanks for your contribution.

I released a new stable version on pypi. https://pypi.org/project/json2xml/3.10.0/

The release notes are here. https://github.com/vinitkumar/json2xml/releases/tag/3.10.0

[2022-01-30 10:40] psi29a commented on #99
Brilliant, thank you! :).

I guess I know what I'll be doing the coming days.

Cheers!

[2022-01-31 09:32] psi29a opened #103 "PyTest pegged to version number"
PyTest is currently pegged against 7.0.0rc1

Since other projects make use of poetry, poetry is very strict about handling deps.

Can you set PyTest not to be a dependancy?

It's perfectly fine for testing, but not for a release to production kind of thing.

[2022-01-31 12:56] vinitkumar commented on #103
I agree with your reasoning and will be merging your patch for the same.

[2022-01-31 14:56] #103 closed

[2022-01-31 18:50] vinitkumar commented on #103
@psi29a Released a new build to pypi

- https://github.com/vinitkumar/json2xml/releases/tag/3.12.0
- https://pypi.org/project/json2xml/3.12.0/

[2022-02-01 09:46] psi29a commented on #103
Awesome, thank you!

[2022-02-07 11:54] Asteriska8 opened #106 "[Uncaught exception] UnicodeDecodeError when calling to_xml with arbitrary data"
**Describe the bug**
I found out that theJson2xml(data).to_xml() method can raise a UnicodeDecodeError leading to a crash of the running program.

This could be problematic if users of the library are dealing with untrusted data since this issue will lead to a DoS. This should be detected and an execption should be triggered

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-

[2022-02-10 06:04] vinitkumar commented on #106
@Asteriska8 Thanks for raising this issue and the explanation, it would be much more helpful if you could please just paste the input data in here so that it is easier to test it. The screenshot while informative doesn't help much in using that in the code.

[2022-02-10 06:59] Asteriska8 commented on #106
`data = (b'!\0a\8f').decode('utf-8')`

[2022-02-10 08:29] vinitkumar commented on #106
@Asteriska8 Fixed it just now. https://github.com/vinitkumar/json2xml/pull/107

Please check this pull request and possibly run this, and let me know if it looks good to you?

[2022-02-10 09:35] Asteriska8 commented on #106
Thanks!
I has validated this fix.

[2022-02-10 09:52] vinitkumar commented on #106
@Asteriska8 Awesome, I will merge and release later this evening.

[2022-02-10 09:53] Asteriska8 commented on #106
Thanks to your nice work and the contribution to open-source community!

[2022-02-10 17:27] vinitkumar commented on #106
@Asteriska8 Thanks for your report.

Happy to announce that the fix is released to pypi here:

`pip install json2xml==3.14.0`

You are welcome to upgrade to this and your issues should be resolved. I will be closing this issue. Please don't hesitate to open a new issue if you find any other problems.

[2022-02-10 17:27] #106 closed

[2022-02-24 11:27] Jeroendevr commented on #46
Is there any status on this feature? Otherwise I am willing to look into this functionality. I would love to have an output like:

[code]

[2022-02-24 11:51] vinitkumar commented on #46
@Jeroendevr Sadly, didn't find time to do it yet.

However, if you can implement it in a backward compatible way, I will be more than happy to review and merge it.

[2022-02-24 12:14] Jeroendevr commented on #46
Ok, ill give it a try.

[2022-02-24 12:55] Jeroendevr opened #112 "3.15.1 running test yields warning"
**Describe the bug**
To start contributing, I have run the test after cloning the repo locally.

**To Reproduce**
Steps to reproduce the behavior:
Clone 3.15.1
Run test

**Expected behavior**
All tests should pass flawlessly.

**Screenshots**
N/A

**Desktop (please complete the following information):**
MacOS

**Additional context**
In order to start adding features, I would suggest fixing all the

[2022-02-24 18:25] #112 closed

[2022-03-02 19:46] vinitkumar commented on #46
@Jeroendevr Any progress on this? Otherwise, I will pick up this ticket myself.

[2022-03-05 11:47] Jeroendevr commented on #46
No progress atm, was looking into xml schema but couldn’t figure out the logic yet.
if you want to pick up. Please go ahead!🚀 please push it to a branch so perhaps I can improve / watch the progress.

[2022-03-05 11:48] vinitkumar commented on #46
Thanks for giving it a try.

Alright, I will pick it up in a branch and also make you a reviewer of that Pull Request, You can question/comment on it if you are unclear about something I did.

[2022-03-05 11:50] MrBenGriffin commented on #46
I don't know if it helps you or not, but in the end I didn't use this (json2xml) library - instead favouring xmlschema which supports namespaces. However, it does require that you have (or author)  a schema for the namespace declarations.

[2022-03-05 12:38] vinitkumar commented on #46
@MrBenGriffin Thanks for the information, I noticed it about xmlschema too. If I end up adding the support for it, it will be done in a backward compatible way and probably in a similar approach as xmlschema.

[2022-04-16 00:26] jbourquin opened #118 "Boolean types are not converted to their XML equivalents."
**Describe the bug**
When converting a JSON object with boolean type values, `Json2xml` is not converting the values to their XML equivalents. `Json2xml` should be exporting the values in the XML as the lowercase words `true` and `false` respectively. Instead, `Json2xml` is exporting them as Python boolean types using the capitalized words `True` and `False`.

**To Reproduce**
Steps to reproduce t

[2022-04-18 07:38] vinitkumar commented on #118
@jbourquin Thanks for reporting this. I will look into fixing it. This seems to be a bug in `dicttoxml` package, but I will fix it.

[2022-04-18 07:38] vinitkumar commented on #118
@jbourquin Thanks for reporting this. I will look into fixing it. This seems to be a bug in `dicttoxml` package, but I will fix it.

[2022-04-18 09:07] vinitkumar commented on #118
@jbourquin I just released the fix for it in the pypi. https://pypi.org/project/json2xml/3.17.0/

Thank you so much for reporting the bug in such detailed manner. 🍺

[2022-04-18 21:36] jbourquin commented on #118
No problem, I'm also running into a problem with arrays that contain numbers (like booleans).

So if I convert a JSON object that looks like this:
[code]

It returns the following XML:
[code]

Notice the parent elements are missing for the boolean and number arrays.

[2022-04-19 07:32] vinitkumar commented on #118
Yeah, I can reproduce it too. Would you like to send a PR to fix this?

[2022-04-19 17:02] vinitkumar commented on #118
@jbourquin please let me know if you will sending a fix for it, else I will find sometime this week and fix it.

[2022-04-19 19:53] jbourquin commented on #118
I'll take a look, but I probably won't be able to get to it before you do.

[2022-04-19 20:54] vinitkumar commented on #118
Just fixed and release the fix here: View at:
https://pypi.org/project/json2xml/3.17.1/

Please test and let me know if it works for you and if you are satisfied if the issue is fixd and there is no edge case remaining, please close this issue.

[2022-04-20 16:54] jbourquin commented on #118
@vinitkumar Thank you, yes this fixes my problem. I was actually working on a pull request just before your commit. Here is a unit test for these two issues if you would like to integrate it into your repository:
https://github.com/jbourquin/json2xml/blob/master/tests/test_dicttoxml.py

[2022-04-20 17:08] vinitkumar commented on #118
@jbourquin Please send me a PR with the tests and I would be more than happy to merge them if I like what I see. Thanks for your hard work.

[2022-04-20 22:24] jbourquin commented on #118
@vinitkumar I just tried installing v3.17.1 from PYPI and it seems like the old version of the `dicttoxml` module is included in the PYPI download instead of the new one with the array fix.

[2022-04-21 05:52] vinitkumar commented on #118
@jbourquin Are you sure? I just checked the code and it seems like my patch for it is there.

[2022-04-21 05:53] vinitkumar commented on #118
Ah, I think I understand. What are you are looking for is not implemented in the latest master and has not been released yet. My last fix, made the bool lower case like `true` and `false` instead of `True` or `False`.

[2022-04-21 20:01] jbourquin commented on #118
Yeah, I'm looking for the array fix you released yesterday

[2022-04-23 16:40] vinitkumar commented on #118
A new version of json2xml is released https://pypi.org/project/json2xml/3.18.0/

Please check if that fixes your issue.

[2022-04-25 16:15] #118 closed

[2022-04-29 19:10] vinitkumar commented on #46
@userlerueda In the latest release, the dictoxml in this project has support for namespace, please check that out and let me know if that work well enough for you.

[2022-05-05 09:52] Jeroendevr opened #126 "dicttoxml adds 'b...'"
**Describe the bug**
Using the function json2xml.dicttoxml.dicttoxml

**To Reproduce**
Steps to reproduce the behavior:
1. Run :
[code]
2. See:
[code]

**Expected behavior**
[code]

**Screenshots**
NA

**Desktop (please complete the following information):**
 - OS: [macOS]
 - Python 3.9.12
 - json2xml 3.18.0

**Additional context**
It seems to happen around here:

[code]

[2022-05-05 11:45] Jeroendevr opened #127 "setting the xmlns value"
**Describe the bug**
Currently adjusting the xmlns value is not possible as the it leads to xmlns:xmlns.

**To Reproduce**
Steps to reproduce the behavior:
1. run
[code]

2. see
[code]

**Expected behavior**
[code]
**Screenshots**
NA

**Desktop (please complete the following information):**
 - OS: macOS
 - Python : 3.9.12
 - json2xml : 3.18.0

**Additional context**
Add any other context about the

[2022-05-05 12:05] Jeroendevr opened #128 "setting xsi location"
**Is your feature request related to a problem? Please describe.**
While a xsi can be added to the namespace it's location currently cannot. ```xsi:location="https://www.w3schools.com note.xsd"```

**Describe the solution you'd like**
1. run

option 1
[code]

option 2
[code]

2. currently resulting in

option 1
[code]

option 2
[code]

3. would like to result in
[code]

**Describe alternatives you

[2022-05-05 14:50] vinitkumar commented on #128
@Jeroendevr I like the third option. Would you like to send a PR for the same, else I will try and implement it in my free time.

[2022-05-05 14:58] Jeroendevr commented on #128
I didn't give you a third option 😸 pick one or two or do you have a third option in mind?
Thank you for considering implementing it in your free time. You can go ahead and if I have implemented I will let you know  / share my progress. As you can see I have reported some other things as well, so don't know yet what I will implement first.

[2022-05-05 15:43] vinitkumar commented on #128
@Jeroendevr I meant I like this the most:

[code]

[2022-05-05 19:52] vinitkumar commented on #126
The method 'dicttoxml' returns bytes.
You can always decode it to string `>>> "".join(output).encode("utf-8").decode("utf-8")`

I am not sure if I can do the change without breaking compatibility for other usage of this library.

[2022-05-06 15:08] ricciarellif opened #130 "Logging should be disabled by default"
Using your library inside another project *which makes use of  its own logging* results in a mix of messages: your library ones and theose of the project that makes use of your library.

**Expected behavior**
The library SHOULDN'T log anything: eventually, a parameter could be provided to enable the logging of your library

**Desktop (please complete the following information):**
 - OS: Linux Manj

[2022-05-06 15:17] vinitkumar commented on #130
@ricciarellif I agree with your sentiment. I will implement this in the latest release.

[2022-05-06 15:34] ricciarellif commented on #130
Many thanks Kumar, I appreciate it a lot.
Best regards and keep up your great job.

[2022-05-06 16:22] vinitkumar commented on #130
Implemented the fix in https://github.com/vinitkumar/json2xml/pull/131

Please check the master branch in your code and see if this is what you expect. I think all your complains should be gone now.

[2022-05-11 06:09] Jeroendevr commented on #126
Ah good to know. What would be a usage to have the function return it as bytes?

[2022-05-11 08:04] vinitkumar commented on #126
I think it was probably to not get on the encoding and let user have a say in the decoding it.

[2022-05-11 19:15] Jeroendevr opened #136 "Convert a dict with list to json without <list> elements"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
**Current situation**
[code]
**Current result**
[code]

A clear and concise description of what you want to happen.

[code]

**Describe alternatives you've considered**
Removing the <list> elements after the xml has been created

**Additional context**
n.a.

[2022-05-12 06:46] Jeroendevr commented on #136
Whoops, already figured out my problem in issuing it. I needed to set
[code]

[2022-05-12 06:46] #136 closed

[2022-05-12 11:11] Jeroendevr opened #137 "Wrap list items in their parent element"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
**Current behavior**
[code]
**Current result**
[code]

**Wanted result**
[code]

**Describe alternatives you've considered**
Adding the xml elements after I have them created

**Additional context**
N.A.

[2022-05-12 13:11] Jeroendevr commented on #137
Within the code I have found the following
@vinitkumar Did you had plans with the parentIsList parameters?
[code]

[2022-05-19 20:48] #126 closed

[2022-05-19 20:49] vinitkumar commented on #46
The functionality is implemented in the latest release. Please check.

[2022-05-19 20:49] #46 closed

[2022-05-19 20:49] vinitkumar commented on #92
@althaf004 The functionality is implemented in the latest release. Please check

[2022-05-19 20:49] #92 closed

[2022-05-19 20:50] vinitkumar commented on #130
We have removed the logging by default in the latest release, please check.

[2022-05-19 20:50] #130 closed

[2022-05-19 20:52] vinitkumar commented on #127
@Jeroendevr All three of your PRs are merged and released to pypi.

However, I would really appreciate and it would be a great value add, if you can document the usage (probably same as how you used the test examples) in the readme as well. This will go a long way in making people understand how we can use namespaces today.

[2022-05-20 09:54] Jeroendevr commented on #126
I agree, thanks for the explanation

[2022-05-20 09:57] Jeroendevr commented on #127
Thanks for approving the PR's. Sure I'll add some docs.📄 I was still doubtful of your opinion on my implementation therefore I didn't write the docs yet. 𝌗
Good to keep the docs up to date! thanks for the reminder, also feel free to remind me if I didn't do it within a month. 😶‍🌫️

[2022-05-20 14:21] vinitkumar commented on #127
@Jeroendevr I liked your implementation, hence merged it. Please go ahead with writing docs and I would really appreciate it and merge/release it.

[2022-05-25 19:09] vinitkumar commented on #127
If you have sometime, please send that PR. Would love to merge it.

[2022-06-02 09:27] Jeroendevr commented on #67
Is this question still relevant for you?

[2022-06-04 19:50] #127 closed

[2022-06-04 19:50] #128 closed

[2022-06-04 19:50] #137 closed

[2022-06-08 14:11] Jeroendevr opened #143 "Ampersand not parsed correctly when attrs are present"
**Describe the bug**
Using dicttoxml on a dict with attributes present the character ```&```  is not parsed correctly to ```&amp;```

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
[code]

**Current behavior**
[code]

[2022-06-09 03:28] vinitkumar commented on #143
This is fixed via #144

[2022-06-09 03:28] #143 closed

[2022-06-15 09:04] vinitkumar commented on #67
@Jeroendevr Do you want to take a shot at this in a backward compatible way?

[2022-07-05 07:13] adesso-thomas-lippitsch opened #146 "List items as tags with arguments"
### Problem
I would like to get the following XML:
[code]
Maybe I am missing something, but with the current implementation I can't achieve this result.

### Possible solution
[code]

[2022-07-07 06:34] adesso-thomas-lippitsch commented on #146
Hi,
thanks for your reply!

Yes, it is close indeed. But in my case I have to get rid of the "key" tags, which are surrounding each list item. I need it exactly as shown in my example. It is a quite common case in XML, I guess.

I have solved it by writing my own implementation by now, but this adjustment could be an improvement to the package.

Maybe I will create a pull request if I find the tim

[2022-07-07 07:22] vinitkumar commented on #146
@adesso-thomas-lippitsch Please send a pull request when you find time. I will be more happy to review and merge.

[2022-07-22 18:11] vinitkumar opened #150 "Crash in one test when switching to pytest"
Recently decided to use pytest fully and discovered this failure in test.

[code]

Which doesn't happen when the test is run isolated. It means one of the other tests is affecting this particular tests.

Curious about this, I commented most of the tests except `test_get_unique_id`
and voilà, it does cause this test to fail.

On a closer look, it does seem that we are using a global IDs list that g

[2022-07-27 07:31] vinitkumar commented on #150
Closed via https://github.com/vinitkumar/json2xml/pull/149

[2022-07-27 07:31] #150 closed

[2022-09-14 11:39] DirkRichter opened #151 "dicttoxml: recursive array broken since json2xml 3.19.0"
Sample
`dicttoxml.dicttoxml([{'x':[1]}], root=False, attr_type=False)`

**correct result in 3.18.x and before**
`<item><x><item>1</item></x></item>`

**wrong result since 3.19.x**
`<item><item>1</item></item>`

Problem: missing x-element (keyname in dict); no effect toggling list_headers=True/False

Reason seems to be **Repeat list headers** from https://github.com/vinitkumar/json2xml/pull/138

[2022-09-14 11:44] DirkRichter commented on #151
mistake

[2022-09-14 12:25] DirkRichter opened #152 "some unit tests do not fail in test_dict2xml.py but should"
Some assertion in unit tests uses multiline in wrong manner, thus:
`assert "blah"`
`    "xyz"==result`
results never in failing unit test, because "blah" evaluates always to True.
Ofen a backslash is missing in assert line:
`assert "blah" \ `
`    "xyz"==result`

[2022-09-18 18:08] #152 closed

[2022-09-18 18:33] vinitkumar commented on #151
Thanks for spotting and contributing a fix for this. It has been merged, tagged and released.

https://pypi.org/project/json2xml/3.19.5/

[2022-09-18 18:33] #151 closed

[2022-09-24 19:10] vinitkumar opened #155 "Security issues reported by dlint"
Running dlint we get this warning against the codebase. The issue is easy to fix.

insecure use of "random" module, prefer "random.SystemRandom"

[2022-09-27 04:39] #155 closed

[2022-09-29 08:08] bnabis93 commented on #146
@vinitkumar

I also have the same issue. It was solved by removing the key tag after changing the bytes type of the result to the string type. (Of course, it is not a good solution.)

[code]

By the way, why is the "key" tag is added in the list type of dictionary?

[2022-10-14 17:04] fmigneault opened #157 "Lower requirements constraints"
**Is your feature request related to a problem? Please describe.**

Because of how https://github.com/vinitkumar/json2xml/blob/master/requirements.txt gets generated, `json2xml` enforces very strict dependencies related to requests and its sub-dependencies, although there is no real reason to do so. Indeed, the only "real" requirements are defined in https://github.com/vinitkumar/json2xml/blob/mas

[2022-10-15 19:26] vinitkumar commented on #157
@fmigneault I think you are right. On one hand, having pinned dependencies is nice for reproducibility, but that's more useful for an application and for libraries, it should be more relaxed so that it is more useful in other contexts.

I am going to fix this and do a new release soon.

Thanks for pointing it out.

[2022-10-16 18:34] vinitkumar commented on #157
@fmigneault I just pushed a released to pypi where I fixed the complaint you had. https://pypi.org/project/json2xml/3.20.0/

Please check it and let me know if this fix the issue for you?

Thanks again for pointing this out.

[2022-10-17 15:35] fmigneault commented on #157
@vinitkumar Works like a charm! Thanks for the update.